.page {
  background-image: url("https://i.ibb.co/8rzvnH5/FondoFig.png");
  background-size: 90%;
  background-repeat: no-repeat;
}

.landing-page {
  text-align: center;
  padding: 50px;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page h1 {
  font-size: 5em;
  color: #ece8e8c4;
  margin-bottom: 20px;
}

.landing-page p {
  font-size: 2em;
  color: #fff;
  margin-bottom: 70px;
  margin-top: -20px;
}

.login-button {
  background-color: #09417e;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 87%;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #0056b3;
}

.aparicion-animada {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carrusel {
  width: 100%;
  max-width: 120em;
  padding: -1em;
  overflow: hidden;
  
}

.carrusel .grande {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  transition: all .5s ease;
  transform: translateX(0%);
}

.carrusel .img {
  width: calc(100% / 5 - 2em);
  border-radius: 5px;
  min-height: 10vh;
}

.carrusel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: .4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrusel .punto {
  width: 1em;
  height: 1em;
  margin: .5em .5em 0;
  background-color: #0f3460;
}

.carrusel .punto.activo{
  background-color: rgba(245, 163, 11, 0.842)
}

.Novedades {
  color: #09417e;
  background-color: #ededed;
  padding-top: 2%;
}

.informacion-1 {
  display: flex;
  align-items: center;
  font-size: 2em;
}

.imagen-1 {
  flex: 1;
  height: auto;
}

.textoInformativo-1 {
  flex: 1;
  max-width: 50%;
  padding: 30px;
}

.informacion-2 {
  display: flex;
  align-items: center;
  font-size: 2em;
}

.imagen-2 {
  flex: 1;
  height: auto;
}

.textoInformativo-2 {
  flex: 1;
  max-width: 50%;
  padding: 30px;
}

.button-info {
  background-color: #09417e;
  transition: background-color 0.3s;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-info:hover {
  background-color: #0056b3;
}

.socialMedia{
  text-align: center;
  margin-top: 10px;
  padding: 1px;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconos-redes img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}