.channels {
    background: #2e3136;
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
  }
  
  .channels-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 56px;
    padding: 20px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    transition: background 0.15s ease;
  }
  
  .channels-header-dropdown {
    width: 18px;
    height: 18px;
    margin-left: auto;
    pointer-events: none;
  }
  
  .channels-header-dropdown use {
    stroke-dasharray: 7;
    transform-origin: 50%;
    transition: stroke-dasharray 0.2s ease, transform 0.2s ease;
  }
  
  .channels-header:hover,
  .channels-header:focus {
    background: #2b2e32;
  }
  
  .channels-header:focus use {
    stroke-dasharray: 14;
    transform: rotate(-90deg);
  }
  
  .channels-list-text,
  .channels-list-voice {
    margin: 0 -20px 0 -20px;
  }
  
  .channels-header-name {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .channel {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 20px 10px 20px;
    opacity: 0.3;
    width: 100%;
  }
  
  .channel .button {
    display: none;
    opacity: 0.2;
  }
  
  .channel .button:hover,
  .channel .button:focus {
    opacity: 1;
  }
  
  .channel.active,
  .channel:hover,
  .channel:focus {
    opacity: 1;
  }
  
  .channel.active .button,
  .channel:hover .button,
  .channel:focus .button {
    display: block;
  }
  
  .channel-name {
    font-size: 0.9rem;
    font-weight: 300;
  }
  
  .channel .button:first-of-type {
    margin-left: auto;
    margin-right: 8px;
  }
  
  .channel .button {
    width: 16px;
    height: 16px;
  }
  
  .channel-text {
    position: relative;
  }
  
  .channels-list {
    flex: 1 1;
    overflow-y: auto;
    padding: 0 20px;
  }
  
  .channels-list-header {
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.87rem;
    letter-spacing: 0.04rem;
    transition: color 0.2s linear;
    line-height: 30px;
    position: relative;
  }
  
  .channels-list-header:hover,
  .channels-list-header:focus {
    color: #fff;
  }