
.home {
  display: flex;
  flex-flow: wrap column;
}

.home button {
  background-color: #7289da;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -12px;
  margin-bottom: 20px;
  color: white;
}

.home:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 40%;
}

.logOut:hover {
  background-color: #b23b3b;
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 50%; 
}

.servers {
    height: 100vh;
    background: #1e2124;
    display: flex;
    flex: 0 0 60px;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 18px 0;
    flex-flow: wrap column;
    -ms-overflow-style: none;
  }
  
  .subjects {
    display: flex;
    flex-flow: wrap column;
  }
  
  .subjects button, img {
    background-color: #7289da;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    color: white;
    object-fit: cover;
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 40%;
  }

