@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

html,
body {
  height: 0%;
  background: #121416;
  color: #FFF;
  font-size: 16px;
  font-family: "Roboto";
}

.container {
  height: 100%;
  display: flex;

}

.vert-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.servers {
  height: 100vh;
  background: #1E2124;
  display: flex;
  flex: 0 0 60px;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 18px 0;
  flex-flow: wrap column;
  -ms-overflow-style: none;
}

.home {
  display: flex;
  flex-flow: wrap column;
}

.home button {
  background-color: #7289DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -12px;
  margin-bottom: 20px;
  color: white;
}

.subjects {
  display: flex;
  flex-flow: wrap column;
}

.subjects button {
  background-color: #7289DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  color: white;
}

/* .server-icon{
  width: 50px;
  height: 50px;
  padding-bottom: 30px;    
} */


/* .bolita-collection{
  background-color: #7289DA;
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  transition: background-color 0.2s ease-in-out;      
} */

.channels {
  background: #2E3136;
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
}

.channels-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 56px;
  padding: 20px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  transition: background 0.15s ease;
}

.channels-header-dropdown {
  width: 18px;
  height: 18px;
  margin-left: auto;
  pointer-events: none;
}

.channels-header-dropdown use {
  stroke-dasharray: 7;
  transform-origin: 50%;
  transition: stroke-dasharray 0.2s ease, transform 0.2s ease;
}

.channels-header:hover,
.channels-header:focus {
  background: #2B2E32;
}

.channels-header:focus use {
  stroke-dasharray: 14;
  transform: rotate(-90deg);
}

.channels-list-text,
.channels-list-voice {
  margin: 0 -20px 0 -20px;
}

.channels-header-name {
  font-size: 1rem;
  font-weight: 500;
}

.channel {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 20px 10px 20px;
  opacity: 0.3;
  width: 100%;
}

.channel .button {
  display: none;
  opacity: 0.2;
}

.channel .button:hover,
.channel .button:focus {
  opacity: 1;
}

.channel.active,
.channel:hover,
.channel:focus {
  opacity: 1;
}

.channel.active .button,
.channel:hover .button,
.channel:focus .button {
  display: block;
}

.channel-name {
  font-size: 0.9rem;
  font-weight: 300;
}

.channel .button:first-of-type {
  margin-left: auto;
  margin-right: 8px;
}

.channel .button {
  width: 16px;
  height: 16px;
}

.channel-text {
  position: relative;
}

.channels-list {
  flex: 1 1;
  overflow-y: auto;
  padding: 0 20px;
}

.channels-list-header {
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.87rem;
  letter-spacing: 0.04rem;
  transition: color 0.2s linear;
  line-height: 30px;
  position: relative;
}

.channels-list-header:hover,
.channels-list-header:focus {
  color: #FFF;
}

.menu {
  flex: 0 0 57px;
  padding: 0 20px 0 20px;
  background: #36393E;
  border-bottom: 1px solid #2D3137;
  /* width: 82.2%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-name {
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}

.news {
  background: #2E3136; 
  /* position: fixed;
  right: 0%;
  bottom: 0%; */
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* width: 240px; */
  flex: 0 0 240px;
 
  
}

.news-img-container {
  display: flex;
  height: max-content;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.news-img {
  margin-bottom: 10px;
}