@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");



body{
background-color: #121416;
}

.mail-container {
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 5px;    
}

 .input-info {
    margin-bottom: 5px;
    padding: 1%;
    border: 1px solid #707070;
    background-color: #252525;
    color: white;
    border-radius: 3px;
    transition: all 0.2s ease-in;
}

.input-info:hover {
    background-color: #535353; 
}

.text-icons {
    margin-top: 5px;
    background-color: #252525;
    color: #949494;   
    padding: 10px;        
    border-bottom: 1px solid #707070 ;
    margin-bottom: 0%;
    transition: all 0.2s ease-in;
}

.text-icons i {
    margin-right: 10px;
}

.text-icons i:hover {
    color: white;
    cursor: pointer;
    background-color: #707070;
    border-radius: 80%;
    transition: all 0.2s ease-in;
}
.message {
    margin-top: 0%;
    justify-content: center;    
    background-color: #252525;    
    color: white;
    border: none;
    transition: all 0.2s ease-in;
} 

.message:hover {
    background-color: #535353;
}

.send {
    background-color: #7289da;
    color: white;
    padding: 6%;
    border-radius: 50px;        
    border: #7289da;
    transition: all 0.5s ease-in-out;
}

.send:hover {
    background: #323d62 ;
    color: rgb(217, 217, 217);
    cursor: pointer;
}

.cancel {
    background-color: #4a4a4a;
    color: white;
    padding: 6%;
    border-radius: 50px;        
    border: #4a4a4a;
    transition: all 0.5s ease-in-out;
}

.cancel:hover {
    background-color:#252525;    
    cursor: pointer;
}

.mail-container button {
    margin-right: 8px;    
    width: 90px;
    display: flex;    
    align-items: center;
    flex-direction: row;
    justify-content:center;
}
table {
    margin-left: auto;
}