.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.modal {
  background-color: #2e3136;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  max-width: 800px;
  position: relative;
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  
}

.modal.active {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}
.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.modal-content {
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: none;
}
.modal-content h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.modal-content h2 {
  font-size: 22px;
  margin-bottom: 8px;
}
.file-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.file-drop-area.active {
  border-color: #2e3136; /* Cambio de borde cuando se arrastra un archivo */
}

.file-input {
  display: none;
}

.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #2e3136;
  background-color: #121416;
  color: #fff;
}

.modal-content button {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #121416;
  color: #fff;
}

.modal-content button:hover {
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 90%;
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .modal {
    width: 95%;
    max-width: 95%;
  }
}
