
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .modal {
    background-color: #2e3136;
    padding: 60px;
    border-radius: 10px; 
    width: 80%; 
    max-width: 800px; 
    position: relative;
    opacity: 0; 
    transform: scale(0.9); 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  }

  .modal.active {
    opacity: 1;
    transform: scale(1); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
  }
  .modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
  }
  
  .modal-content {
    font-size: 20px;
  }
  
 
  @media screen and (max-width: 768px) {
    .modal {
      width: 90%; 
      max-width: 90%; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .modal {
      width: 95%; 
      max-width: 95%; 
    }
  }
  