.tareas-container {
  width: 100%;
  overflow: auto;
}

.tareas-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #7e7d7d;
}

.tareas-table th {
  background-color: #7289da;
  color: #fff;
  text-align: center;
  padding: 7px;
}

.tareas-table th,
.tareas-table td {
  border: 2px solid #505050;
  padding: 7px;
}

.tareas-table tr:nth-child(even) {
  background-color: #575757;
}

.tareas-table tr:hover {
  background-color: #ccc;
}
